body {
    background-color: #dcdcdc;
}


.page{
    width: 320px;
    height: 200px;
    margin-top: 250px;
}


.textbox{
    margin: 0px 60px 10px;
    width: 200px;
}


.button.small{
    width: 80px;
    height: 30px;
    margin: 10px 120px;    
}
