body {
    background-color: #dcdcdc;
}


.button {
    background-color: #42169f;
    color: #efefef;
    font: 14px verdana;
    border: 2px solid #3d0ea1;
}


.page {
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 150px;
    background-color: #efefef;
    border: 2px solid #808080;
    border-radius: 3px;
}


.footer {
    height: 60px;
    margin-bottom: 20px;
}


.label{
    width: inherit;
    margin: auto;
    text-align: center;
    color: #808080;
    font: italic 12px verdana;
}


.navigation {
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 10px;
}
